.account-information {
	flex: 1;

	.roles {
		margin-top: -5px;

		.role {
			display: inline-block;
			border: 1px solid #ACB8D1;
			border-radius: 2px;
			margin: 5px 10px 5px 0;
			padding: 5px 10px;
			font-family: Roboto-Regular;
			font-size: 14px;
			color: #4A4A4A;
			letter-spacing: 0;
		}
	}

	.display-name {
		width: 78%;
		background: #FFFFFF;
		border: 1px solid #ACB8D1;
		border-radius: 2px;
	}

	.radio-inline {
		margin-right: 20px;
		font-family: Roboto-Regular;
		font-size: 14px;
		color: #4A4A4A;
		line-height: 20px;
	}

	.date-time-compontent {
		width: 240px;
	}
}
