@import "rolescontainer.less";

.account-information {
	flex: 1;

	.header {
		.action {
			.icon {
				margin-top: 2px;
				width: 14px;
				height: 14px;
				background-image: url(icon/edit.svg);
			}
		}
	}

	.roles {
		margin-top: -5px;
		min-height: 40px;

		.role-wrapper {
			height: 88px;
			overflow: auto;
			width: 90%;
		}

		.role {
			display: inline-block;
			border: 1px solid #ACB8D1;
			border-radius: 2px;
			margin: 5px 10px 5px 0;
			padding: 5px 10px;
			font-family: Roboto-Regular;
			font-size: 14px;
			color: #4A4A4A;
			letter-spacing: 0;
		}

		.highlight {
			background: #97C363;
			color: #FFFFFF;
		}
	}

	.display-name {
		width: 78%;
		background: #FFFFFF;
		border: 1px solid #ACB8D1;
		border-radius: 2px;
		color: #2F5091;
	}

	.radio-inline {
		margin-right: 20px;
		font-family: Roboto-Regular;
		font-size: 14px;
		color: #4A4A4A;
		line-height: 20px;
	}

	.date-time-compontent {
		margin-top: -3px;
		width: 240px;
	}

	.color-red {
		position: absolute;
		left: 28px;
		bottom: 6px;
		color: #E25854;
		font-family: Roboto-Regular;
		font-size: 14px;
	}

	.has-error {
		input {
			border: 1px solid #E25854;
		}

		.date-time-compontent {
			.form-control {
				border: 1px solid #E25854;
			}
		}
	}

	.calendar {
		.input-group {
			width: 200px;

			.calendar-input {
				padding: 0 10px;
			}
		}
	}

	.popup-wrapper {
		user-select: none;

		.popup-dialog {
			top: 50%;
			left: 50%;
			margin-left: -318px;
			margin-top: -278px;
		}

		.confirm {
			line-height: 26px;
		}
	}

	.roles-detail .popup-wrapper .popup-dialog {
		width: 748px;
		height: 332px;
		margin-left: -374px;
		margin-top: -166px;

		.popup-content {
			padding: 0 14px;
			margin-top: 7px;
		}

		.roles-detail {
			height: 161px;
		}
	}
}

.table.sm-table {
	border-collapse: inherit;
	border: 1px solid #7C8DAF;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #4A4A4A;
	line-height: 40px;

	> thead {
		background-color: #7C8DAF;
		line-height: 40px;
		color: #FFFFFF;

		> tr > th {
			font-weight: normal;
			text-align: center;
			font-size: 14px;
			border: 0;
			border-right: 1px solid #D8E1F3;

			&:first-child {
				text-align: left;
				padding-left: 30px;
				width: 44%;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	tbody > tr {
		border-top: 1px solid #DDDDDD;

		&:nth-child(even) {
			background: #F8F9FB;
		}

		> td {
			text-align: center;
			vertical-align: middle;
			border-right: 1px solid #D8E1F3;

			&:first-child {
				text-align: left;
				padding-left: 30px;
			}

			&:last-child {
				border-right: none;
			}

			i {
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;

				&.tick {
					width: 15px;
					height: 10px;
					background-image: url(icon/tick.svg);
				}

				&.cross {
					width: 13px;
					height: 13px;
					background-image: url(icon/cross.svg);
				}
			}
		}
	}
}
