.profile-tabs {
	.profile-header {
		position: relative;

		.nav {
			position: absolute;
			right: 20px;
			bottom: 0;
		}
	}

	.profile-content {
		position: relative;
		padding: 30px;
	}
}
