.profile-container {
	.header {
		width: 100%;

		h2 {
			margin: 0;
			font-family: Roboto-Medium;
			font-size: 20px;
			color: #0C2963;
		}
	}

	.content {
		margin: 13px 0 30px;
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #305091;
		padding: 20px 30px;

		> .row {
			> .col {
				padding: 0;
			}
		}

		.name {
			margin: 0;
			font-family: Roboto-Medium;
			font-size: 16px;
			color: #0C2963;
			line-height: 22px;
		}

		.value {
			margin: 11px 0 24px;
			font-family: Roboto-Regular;
			font-size: 16px;
			color: #0C2963;
			line-height: 22px;

			&.margin0 {
				margin-bottom: 0;
			}
		}
	}
}
