.roles-container {
	.filter-cmp-container {
		user-select: none;
		height: auto;

		.body {
			padding-bottom: 0;

			.content {
				// margin: 0;
				padding: 0;

				.th-header {
					position: relative;

					.my-checkbox {
						background-color: #FFFFFF;
					}
				}

				.tr-header {
					width: 52px;
				}
			}
		}
	}
}
