.roles-container {
	.filter-cmp-container {
		height: auto;

		.body {
			padding-bottom: 0;

			.content {
				// margin: 0;
				padding: 0;

				.th-header {
					position: relative;

					.my-checkbox {
						background-color: #FFFFFF;
					}
				}
			}
		}
	}
}
