.user-delegation {
	flex: 1;

	.header {
		.action {
			.icon {
				margin-top: 2px;
				width: 14px;
				height: 14px;
				background-image: url(icon/edit.svg);
			}
		}
	}

	.content {
		height: 231px;
	}
}
