.user-delegation {
	flex: 1;

	.header {
		.action {
			.icon {
				margin-top: 2px;
				width: 14px;
				height: 14px;
				background-image: url(icon/edit.svg);
			}
		}
	}

	.content {
		padding: 0;
		height: 231px;
		overflow: hidden;

		.react-bs-table-container {
			height: 100%;

			.react-bs-table {
				margin: 0;
			}
		}
	}
}
