.input-check {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background: #FFFFFF;
	border: 1px solid #305091;
	border-radius: 2px;
	display: inline-block;

	&.checked {
		background-image: url(icon/tick-checked.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.radio-inline {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #0C2963;
	line-height: 20px;
}

.radio-inline + .radio-inline {
	margin-left: 20px;
}

.serch-header {
	position: relative;

	input {
		display: inline-block;
		width: 300px;
		height: 40px;
		line-height: 40px;
		padding-left: 40px;
		border: 1px solid #305091;
		font-size: 16px;
	}

	.search-icon {
		display: block;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 14px;
		top: 14px;
	}
}
