body {
	width: 100%;
	height: 100vh;

	/*background-color: @hkjcBlue;*/

	/*background-image: url(login/background.jpg);*/
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-family: 'Roboto-Regular';

	#root {
		width: inherit;
		height: inherit;
	}
}
