body {
	height: 100%;
	background-color: @hkjcBlue;

	#root {
		width: 100%;
		height: 100vh;

		.pages {
			height: inherit;
			background-image: url(login/background.jpg);
			background-position: center top 35px;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	}
}
