.action-reassignment {
	padding: 16px;
	padding-bottom: 0;
	width: 605px;

	.serch-header {
		input {
			margin-right: 35px;
		}
	}

	.tableComponent-container {
		margin: 0;
		margin-top: 21px;
		min-height: initial;

		.react-bs-table-no-data {
			height: 212px;
		}
	}

	.roles {
		.header {
			margin-top: 31px;
			margin-bottom: 10px;
			font-family: Roboto-Medium;
			font-size: 16px;
			color: #0C2963;
			line-height: 22px;
		}

		.body {
			margin-left: -5px;
			max-height: 130px;
			overflow-y: auto;

			.role {
				display: inline-block;
				margin: 5px;
				padding: 5px 10px;
				background: #FFFFFF;
				border: 1px solid #7A8DAF;
				border-radius: 2px;
				font-family: Roboto-Regular;
				font-size: 14px;
				color: #4A4A4A;
				letter-spacing: 0;
			}
		}
	}
}
