.paging {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #305091;
    padding: 6px 10px;
    display: inline;
  }

  .selected {
    background: #305091;
    border-radius: 100px;
    color: #FFFFFF;
  }

  .has-hand-cursor {
    cursor: pointer;
  }

  .grey-out {
    color: #989A9C;
  }
}
