@menuMainBlue: #25417A;

.menu-bar-wrap {
	font-family: 'Roboto-Regular';

	.menu-container {
		display: flex;
		align-items: center;
		position: relative;
	}

	.menu-container.slimMode {
		.menu-box {
			display: block;
		}

		.menu-unit {
			float: left;
			width: auto;
		}

		.level-1-unit {
			height: auto;
			padding: 11px 0;

			.icon {
				width: 24px;
				height: 24px;
				margin-left: 15px;
				margin-right: 15px;
			}
		}

		.events,
		.message {
			line-height: 46px;
		}

		.toggle-btn {
			&::after {
				content: '';
				width: 0;
				height: 0;
				border: 8px solid #7C8DAF;
				border-color: #7C8DAF transparent transparent;
				position: absolute;
				left: 50%;
				margin-left: -8px;
				bottom: -2px;
			}
		}
	}

	.toggle-btn {
		position: absolute;
		left: 50%;
		top: -24px;
		width: 47px;
		height: 24px;
		margin-left: -23px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: @menuMainBlue;
		color: transparent;
		font-size: 0;
		cursor: pointer;

		&::after {
			content: '';
			width: 0;
			height: 0;
			border: 8px solid #7C8DAF;
			border-color: transparent transparent #7C8DAF;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			bottom: 7px;
		}
	}

	.events {
		width: 240px;
		overflow: hidden;
		background-color: @menuMainBlue;
		text-align: center;
		color: #FFFFFF;
		font-size: 20px;
		line-height: 68px;
	}

	.message {
		width: 180px;
		background-color: @menuMainBlue;
		text-align: center;
		color: #FFFFFF;
		font-size: 20px;
		line-height: 68px;
	}

	.menu-box {
		flex: 1;
		overflow: hidden;
		display: flex;
		align-items: center;
		background-color: #0C2963;
		//padding-left: 15px;
	}

	.level-1-unit {
		display: flex;
		align-items: center;
		height: 68px;

		.icon {
			display: block;
			width: 19px;
			height: 19px;
			//margin-left: 15px;
			position: relative;

			.icon-img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				width: 100%;
				height: auto;
			}
		}

		.text {
			padding-left: 6px;
			font-size: 14px;
			line-height: 16px;
		}
	}

	a {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

	.item {
		line-height: 30px;
		width: 100px;
		text-align: center;
		background-color: @hkjcBlue;

		&:hover {
			background-color: #516B9F;
		}
	}

	.menu-unit {
		background-color: @hkjcBlue;
		padding: 0 15px;
		color: white;
		font-size: 12px;

		&:first-of-type {
			padding-left: 30px;
		}

		&:hover {
			background-color: #516B9F;
		}

		&:hover {
			.icon {
				color: #FFFFFF;
			}
		}

		&:hover .second-level {
			opacity: 1;
			visibility: visible;
			overflow: visible;
		}

		.icon-N {
			z-index: 0;
		}

		.icon-A {
			z-index: -1;
		}

		&:hover .icon-A {
			z-index: 10;
		}
	}

	.second-level {
		background-color: #516B9F;
		position: absolute;
		width: 100vw;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		top: 100%;
		left: 0;
		z-index: 100;
		font-family: 'Roboto-Medium';
		transition: all 0.5s ease 0.15s;

		.item:hover {
			.third-level {
				display: block;
			}
		}

		.second-level-container {
			display: flex;
			width: 100%;
			padding: 0 50px;
			justify-content: center;
		}
	}

	.second-level-item {
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		//flex: 1;

		&:hover a {
			color: #B2C3E5;
		}

		&:hover .third-level {
			display: block;
		}

		&:not(.noSub):hover .second-level-text::after {
			content: '';
			width: 0;
			height: 0;
			border: 8px solid #FFFFFF;
			border-color: transparent transparent #FFFFFF;
			position: absolute;
			left: 50%;
			margin-left: -4px;
			bottom: 0;
		}
	}

	.second-level-text {
		position: relative;
		display: block;
		padding: 0 25px;
		text-align: center;

		&:hover .third-level-only {
			display: block;
		}
	}

	.third-level-only {
		position: absolute;
		width: 327px;
		top: 100%;
		left: 50%;
		margin-left: -163px;
		display: none;

		.third-level-only-container .third-only-item {
			display: block;
			background-color: #F3F3F3;
			width: 327px;
			color: #0C2963;
			line-height: 40px;
			font-size: 16px;
		}
	}

	.third-level {
		position: absolute;
		left: 0;
		width: 100vw;
		top: 50px;
		display: none;
		background-color: #FFFFFF;
		font-family: 'Roboto-Medium';
	}

	.third-level-container {
		display: flex;
		width: 100%;
		padding-left: 245px;

		.third-level-item {
			flex: 1;
			text-align: left;
			line-height: 12px;

			.text {
				color: #0C2963;
				font-size: 16px;
				line-height: 16px;
				display: block;
				padding: 30px 0 10px;
			}
		}

		.underline {
			color: rgba(0, 0, 0, 0);
			display: inline-block;
			line-height: 2px;
			border-bottom: 2px solid #516B9F;
			width: 37px;
		}

		.forth-level-container {
			.forth-level-item {
				text-align: left;
				display: block;
				font-size: 14px;
				color: #4A4A4A;
				line-height: 30px;
				font-family: 'Roboto-Regular';
			}
		}
	}
}
