.messages-container.colour-container {
	.notice-box ul.list-box-right li ul.row {
		font-family: Roboto-Regular;
		color: #FFFFFF;

		> li.notice-title.bold-text {
			color: #FFFFFF;
		}

		&.Medium {
			background: #FF8F00;
		}

		&.High {
			background: #FF433E;
		}

		&.Critical {
			background: #D3221B;
		}

		&.Low {
			background: #85B612;
		}
	}
}
