.filter-block {
	background-color: rgba(124, 140, 175, 1);
	background-position: right center;
	background-size: 9px 9px;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
	flex: 0 0 auto;
	font-family: Roboto-Medium;
	font-size: 14px;
	height: 30px;
	margin: 10px;
	padding: 6px 25px 6px 10px;
	position: relative;

	&::after {
		background-image: url(common/cross.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 9px 9px;
		content: "";
		cursor: pointer;
		height: 30px;
		position: absolute;
		right: 9px;
		top: 0;
		width: 9px;
	}
}
