a {
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

div,
button,
img {
	outline: none;
}

.row-systembar {
	height: 35px;
	background: -ms-linear-gradient(to bottom, #EDEDED 100%, #E0E0E0 100%);
	background: linear-gradient(to bottom, #EDEDED 100%, #E0E0E0 100%);
	position: relative;

	.logo {
		font-weight: 500;
		margin-right: 12px;
		font-size: 14px;
		color: @hkjcGreyLighter;

		img {
			width: 19px;
			height: 24px;
			display: inline-block;
			margin: 0 6px 0 20px;
		}

		span {
			margin-top: 8px;
			display: inline-block;
		}
	}

	.username {
		float: right;
		color: @hkjcGreyLighter;
		padding: 0 29px 0 9px;
		height: 35px;
		margin-right: -4px;
		line-height: 35px;
		cursor: pointer;
		position: relative;

		.hello {
			max-width: 600px;
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			font-family: Roboto-Medium;
			font-size: 14px;
			color: #4A4A4A;

			> img {
				width: 14px;
				margin-right: 10px;
			}
		}

		&:hover {
			background: #F8F8F8;
			border: 1px solid #ACB8D1;
			box-shadow: 0 23px 27px 0 rgba(0, 0, 0, 0.04);
			border-radius: 4px 4px 0 0;
			top: -1px;
			right: -1px;

			.dropdown-menu {
				display: block;
			}
		}

		.dropdown-menu {
			width: 100%;
			right: 0;
			top: 31px;
			margin-left: -1px;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 0 0 4px 4px;
			border: 1px solid rgba(172, 184, 209, 1);

			> li a {
				height: 37px;
				line-height: 37px;
				padding: 0 32px;
				font-family: Roboto-Medium;
				font-size: 14px;
				color: #4A4A4A;

				&:hover {
					background: #E2E5EE;
				}
			}
		}
	}

	> span,
	> a {
		color: @hkjcBlue;
	}

	strong {
		font-weight: normal;
		font-family: 'Roboto-bold';
	}

	.popup-wrapper .popup-dialog {
		.panel-heading .title {
			font-weight: normal;
		}

		.panel-body {
			padding: 15px 45px 30px;

			a {
				padding: 0;
				width: 100px;
				height: 40px;
				min-width: auto;
				line-height: 40px;

				&.other {
					margin: 0;
				}

				&.confirm {
					margin-right: 0;
				}
			}

			.popup-content p {
				font-size: 14px;
				color: @hkjcBlue;
				margin: 0;
			}
		}
	}
}
