.bottom-noticeboard-container {
	position: absolute;
	width: 100%;
	//border: 1px solid #305091;
	bottom: 0px;

		min-width: 715px;

	.header-container {
		width: 100%;
		height: 40px;
		background: #305091;
	  	padding-top: 10px;


	  .container-title {
		margin: auto;
		right: 0;
		left: 0;
		width: 130px;
		text-align: center;
		line-height: 28px;

		.header-title {
		  font-family: Roboto-Medium;
		  font-size: 14px;
		  color: #FFFFFF;
		  line-height: 18px;
		}
	  }
	}
	.messages-container {
		width: 100%;
		height: 130px;
		background: #FFF;

	}
}

.right-noticeboard-container {
	width: 288px;
	position: fixed;
	bottom: 0px;
	top: 103px; /*Height of Systembar + height of Menubar*/
	right: 0px;
	border:1px solid #305091;
	z-index: 10000;
	.header-container {
		width: 100%;
		height: 40px;
		background: #305091;
		.noticeboard-icon-container {
			padding: 10px;
			display: inline-block;
		}
		.noticeboard-list-container {
			display: inline-block;
		}
		.noticeboard-settings-container {
			padding: 10px;
			display: inline-block;
		}
	}
	.messages-container {
		width: 100%;
		height: 100%;
		background: #FFF;
	}
}
