.conatainer-alert {
	margin: auto -15px;
	.hkjc-breadcrumb {
		background-color: transparent;
		color: rgba(255, 255, 255, 1);
		font-family: Roboto-Regular;
		font-size: 14px;
	}

	h1 {
		color: rgba(255, 255, 255, 1);
		font-family: Roboto-Medium;
		font-size: 24px;
		margin-top: 6px;
	}
	.search-criteria-container {
		display: flex;
		margin-bottom: 20px;
		overflow-y: visible;
		flex-direction: column;
		height: 40px;
		width: 100%;
		background: #CCCCCC;
	}
	.table-container {
		overflow-x: auto;
		min-height: 500px;
		margin: 0 30px;
		width: auto;
		background: lightcyan;
		border: 1px solid;
	}
	.vertical-gap {
		padding-top: 30px;
		margin: 0 30px;
	}
}