.tab-bar {
	margin-left: 10px;
	float: left;

	.tab-button {
		float: left;
		width: 139px;
		height: 30px;
		text-align: center;
		line-height: 28px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&.on {
			background: #FFFFFF;
			font-family: Roboto-Medium;
			font-size: 14px;
			color: #305091;
		}

		&.off {
			background: #A1AEC7;
			font-family: Roboto-Medium;
			font-size: 14px;
			color: #FFFFFF;
		}
	}
}

