.tab-bar-bottom {
	margin-left: 10px;
	position: absolute;
	top: 6px;
}

.tab-bar-right {
	height: 30px;
}

.tab-button {
	float: left;
	width: 50%;
	min-width: 125px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	-webkit-user-select: none;
	-ms-user-select: none;

	&.on {
		background: #FFFFFF;
		font-family: Roboto-Medium;
		font-size: 14px;
		color: #305091;
	}

	&.off {
		background: #A1AEC7;
		font-family: Roboto-Medium;
		font-size: 14px;
		color: #FFFFFF;
	}
}
