.notice-detail-box {
	padding: 0;

	.detail-labels {
		list-style-type: none;
		width: auto;
		height: 50px;
		padding: 0 30px;
		margin: -15px -15px 0 -15px;
		line-height: 50px;
		background-color: #FFFFFF;

		li {
			display: inline;
			padding-right: 30px;

			.detail-label {
				font-family: Roboto-Medium;
				font-size: 14px;
				color: #42588F;
			}

			.detail-value {
				font-family: Roboto-Medium;
				color: #4A4A4A;
			}
		}
	}

	.message-detail {
		width: 621px;
		font-family: Roboto-Medium;
		font-size: 16px;
		color: #42588F;
		margin: 30px;
	}
}
