.bottom-noticeboard-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	border:1px solid #305091;
	.header-container {
		width: 100%;
		height: 40px;
		background: #305091;
	}
	.messages-container {
		width: 100%;
		height: 120px;
		background: #FFF;
	}
}

.right-noticeboard-container {
	width: 288px;
	position: fixed;
	bottom: 0px;
	top: 103px; /*Height of Systembar + height of Menubar*/
	right: 0px;
	border:1px solid #305091;
	.header-container {
		width: 100%;
		height: 40px;
		background: #305091;
		.noticeboard-icon-container {
			padding: 10px;
			display: inline-block;
		}
		.noticeboard-list-container {
			display: inline-block;
		}
		.noticeboard-settings-container {
			padding: 10px;
			display: inline-block;
		}
	}
	.messages-container {
		width: 100%;
		height: 100%;
		background: #FFF;
	}
}
