.auditlog {
  margin: auto -15px;

  .hkjc-breadcrumb {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto-Regular;
    font-size: 14px;
  }

  h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto-Medium;
    font-size: 24px;
    margin-top: 6px;
  }
  .auditlog-table {
    /*font-family: Roboto-Regular;*/
    font-size: 14px;
    color: #305091;
    border: 1px solid #305091;
    width:1577px;

    th {
      vertical-align: top;
      background: #305091;
      color: white;
      font-weight: normal;
      font-size: 14px;
      padding-left:10px;
      border: 1px solid #EEE;
      max-width: 480px;
    }

    td {
      border: 1px solid #EEE;
      padding-left:10px;
    }
    .td-user-id {
      min-width: 75px;
    }
    .td-user-name {
      min-width: 100px;
    }
    .td-function-event-detail {
      min-width: 155px;
    }
    .td-backend-frontend-id {
      min-width: 100px;
    }
    .td-ko-game-start-time {
      min-width: 200px;
    }
    .td-bet-type {
      min-width: 80px;
    }
    .td-event-name {
      min-width: 100px;
    }
    .td-error-code {
      min-width: 100px;
    }
    .td-error-message {
      min-width: 170px;
    }
  }
}
