.nodata {
	position: absolute;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	color: #E3E3E3;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -140px;
}

.auditlog {
	margin: auto -15px;

	.hkjc-breadcrumb {
		background-color: transparent;
		color: rgba(255, 255, 255, 1);
		font-family: Roboto-Regular;
		font-size: 14px;
	}

	h1 {
		color: rgba(255, 255, 255, 1);
		font-family: Roboto-Medium;
		font-size: 24px;
		margin-top: 6px;
	}

	.auditlog-table {
		font-family: Roboto-Regular;
		font-size: 14px;
		color: #305091;
		border: 1px solid #305091;

		.nodata-tr {
			height: 40px;
		}

		th {
			vertical-align: top;
			background: #305091;
			color: white;
			font-weight: normal;
			font-size: 14px;
			border: none;
			border-right: 1px solid #8CA6DB;
			max-width: 480px;
			padding: 10px 30px 10px 0;
			white-space: nowrap;
			overflow: hidden;

			&:last-child {
				border-right: none;
			}
		}

		td {
			border: none;
			border-right: 1px solid #8CA6DB;
			padding: 0 30px;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 40px;
			max-width: 480px;
			overflow: hidden;

			&:last-child {
				border-right: none;
			}
		}
	}
}

span.up-arrow {
	padding-left: 30px;
	background-image: url(common/up-arrow.svg);
	background-position: 10px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

span.down-arrow {
	padding-left: 30px;
	background-image: url(common/down-arrow.svg);
	background-position: 10px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

span.no-arrow {
	padding-left: 30px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
