.ed-filter {
	margin: 20px 20px 40px;
	text-align: left;

	label {
		font-size: 14px;
		color: #0C2963;
		line-height: 22px;
	}

	#sf-advanced {
		label {
			font-size: 13px;
			color: #0C2963;
			line-height: 22px;
		}
	}

	select,
	input {
		font-size: 14px;
		color: #305091;
		letter-spacing: 0;
		line-height: 20px;
	}
}
