.ed-container {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	height: calc(~'100vh - 35px - 68px - 10px');
	overflow: hidden;
}

.slim {
		.ed-container {
			height: calc(~'100vh - 35px - 46px - 10px');
		}
}
